@media only screen and (min-width: 100px){
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1 {
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
  }
  h2,
  p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
  }
  
  h3 {
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
  }
  



  main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    display: flex;
  }

.circle1, 
.circle2,
.circle3,
.circle4,
.circle5 {
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.3)
    );
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
    transform: scale(0.5);
    animation: pulse 2s infinite;
}

.circle1{
    top: 5%;
    left: 15%;
}

.circle2{
    bottom: 5%;
    right: 15%;
}

.circle3{
    top: 78%;
    right: 85%;
}

.circle4{
    bottom: 90%;
}

.circle5{
    left: 85%;
    bottom: 60%;
}

@keyframes pulse {
	0% {
		transform: scale(0.75);
		box-shadow: 0 0 0 0 rgba(59, 180, 180, 0.7);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 255);
	}
}


.user img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
}

.links{
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.link{
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
    transition: all .2s ease-in-out;
}

.link img{
    width: 3rem;
    height: 3rem;
}

.link h2 {
    padding: 0rem 2rem;
  }

.dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    width: 15%;
}

.experiences{
    width: 68%;
    margin-left: 1.2rem;
    margin-top: 5rem;
    margin-right: 3rem;
}


.card{
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 1rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  justify-content: space-between;
  align-items: center;
  transition: all .2s ease-in-out;
}

.card:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.card img{
    width: 5rem;
    height: 5rem;
    border-radius: 1.2rem;
}

.about-me {
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.link:hover{
    transform: scale(1.1);
}

@media(max-width: 1120px) {
  .link h2{
    display: none;
  }
}

.info {
  margin-top: 1rem;
}
}
