body {
    font-family: Poppins, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    background-color: #d6919e;
}

.container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    transform-style: preserve-3d;
    min-height: 80vh;
    width: 35rem;
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px rgba(0,0,0,0.2), 0px 0px 50px rgba(0,0,0,0);
    background-color: white;
}

.player{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio-title{
    padding-left: 0.5rem;
}

.audio{
    width: 100%;
}

.album{
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.album img{
    width: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.circle{
    width: 15rem;
    height: 15rem;
    background: linear-gradient(
        to right,
        #C43B55,
        #3BC4AA
    );
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.info h1{
    font-size: 3rem;
}

.info h3{
    font-size: 1.3rem;
}

.versions{
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    background: none;
    border: none;
    font-weight: bold;
    color: #c43b55;
}


.purchase {
    margin-top: 2rem;
    transition: all 0.75s ease-out;
    margin-bottom: 1rem;
}

.purchase button {
    width: 100%;
    padding: 1rem 0rem;
    background: #C43B55;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bolder;
  }
